@model List<SelectListItem>

@{
    Layout = "_Layout";
    ViewBag.Title = "Book Tickets";
    var index = 0;
}

<div class="container my-3">
    <button class="btn btn-dark me-2 my-2" onclick="history.back()">Back</button>

    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h2 class="my-auto me-2">@ViewBag.MovieTitle</h2>
            <h5 class="my-auto"><span class="badge bg-dark mx-2">@ViewBag.ShowDate</span></h5>
            <h5 class="my-auto"><span class="badge bg-dark mx-2">@ViewBag.Language</span></h5>
            <h5 class="my-auto"><span class="badge bg-dark mx-2">@ViewBag.ShowTime</span></h5>
        </div>
        <button type="submit" class="btn btn-primary">Book Tickets</button>
    </div>

    <hr class="text-primary" />
    <form asp-action="BookTickets" method="post">

        <input type="hidden" name="showId" value="@ViewBag.ShowId" />
        <input type="hidden" name="showDate" value="@ViewBag.ShowDate" />

        <div class="my-2">
            <span class="text-primary">Price : @ViewBag.Price ₹ /seat</span>
        </div>

        @for (int i = 0; i < 8; i++)
        {
            for (int j = 0; j < 20; j++)
            {
                if (Model[index].Disabled)
                {
                    <input type="hidden" asp-for="@Model[index].Value" />
                    <input asp-for="@Model[index].Selected" class="btn-check" id="@Model[index].Value" disabled="@Model[index].Disabled">
                    <label for="@Model[index].Value" class="btn btn-secondary me-1 my-1" style="width:3em; height:3em">@Model[index].Text</label>
                }
                else
                {
                    <input type="hidden" asp-for="@Model[index].Value" />
                    <input asp-for="@Model[index].Selected" class="btn-check" id="@Model[index].Value">
                    <label for="@Model[index].Value" class="btn btn-outline-dark me-1 mb-1" style="width:3em; height:3em">@Model[index].Text</label>
                }
                index++;
            }
            <br />
        }
    </form>
</div>

